* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1d022b;
    font-family: 'Roboto', sans-serif;
}

.section-header {
    background: black;
    height: 380px;
    position: relative;
    width: 100%;
}

.header-background {
    height: 100%;
    object-fit: cover;
    object-position: 0 42%;
    opacity: .5;
    width: 100%;
}

.header-container {
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: 0 90px;
    position: absolute;
    right: 0;
    top: 0;
}

.header-container>* {
    margin-bottom: 8px;
}

.header-container .header-description {
    width: 60%;
}

.header-social-medias {
    display: flex;
}

.header-social-medias li {
    list-style: none;
    margin-right: 12px;
}

.header-social-medias li a {
    align-items: center;
    background: #0a3470;
    border-radius: 8px;
    display: flex;
    height: 40px;
    justify-content: center;
    text-decoration: none;
    width: 40px;
}

.header-social-medias li a:hover {
    background: #75044e;
}

.fab {
    color: #fff;
    font-size: 20px;
}


/*MAIN*/

.cards-content {
    padding: 30px 60px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(220px, 300px));
    grid-template-rows: auto;
    gap: 18px;
    justify-content: center;
}

.card-item {
    border-radius: 22px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.card-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-item .information-overflow {
    background: rgb(89 11 72 / 86%);
    bottom: 0;
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.card-item:hover .information-overflow {
    display: flex;
}

.card-item:hover .bagde-dimension {
    display: none;
}

.card-item .information-container>* {
    margin-bottom: 8px;
}

.information-name {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.information-status {
    border-radius: 4px;
    padding: 1px;
    text-align: center;
    width: 60px;
}

.information-status.alive {
    background: #1fbf1f;
}

.information-status.dead {
    background: #910202;
}

.bagde-dimension {
    background: #7b0651;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    left: 10px;
    letter-spacing: 1px;
    padding: 4px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 10px;
    width: 150px;
}